body{
    background-color: #393E46;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice{
    display: inline-block;
    text-align: center;
}
h1{
    margin: 30px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 0 #393E46;
    font-size: 8rem;
    color: #4ECCA3;
}
p{
    color: #4ECCA3;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}
img{
    width: 80%;
}
footer{
    color: #EEEEEE;
    margin-top: 5%;
    font-family: 'Lobster', cursive;
    text-align: center;

}